@use "../../../shared/styles/constants.module" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;

  input {
    padding: 0.5rem;
    font-size: 1rem;
  }

  button {
    padding: 0.5rem;
    background: $BLACK;
    color: $WHITE;
    cursor: pointer;
  }
}

.error {
  color: $RED;
  font-size: 0.9rem;
}
