@use "../../shared/styles/constants.module" as *;

.footer {
  display: flex;
  text-align: end;
  padding: 1.5em;
  justify-content: flex-end;
  background-color: $BLACK;
  color: $WHITE;

  .info {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.25em;
  }
}